.display-align {
  display: flex;
  align-items: center;
}

.custom-line-chart {
  top: 5px;
  right: 30px;
  left: 20px;
  bottom: 5px;
}

.avtivity-card {
  border: 1px solid #f0122380;
  padding: 0px;
}
.avtivity-card .activity-icon {
  height: 60px;
  width: 60px;
  min-width: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  background-color: #f0122380;
  border-radius: 10px;
}
.bgl-success {
  background: #e3f9e9;
  border-color: #e3f9e9;
}
.media-body {
  flex: 1;
}
.image-classification .card {
  height: inherit;
}

.donutposition {
  width: 400px;
  height: 400px;
}
.legent-flex-gap-container {
  display: flex;
  gap: 16px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.legent-flex-center-gap {
  display: flex;
  align-items: center;
  gap: 6px;
}
.legent-flex-width {
  width: 18px;
  height: 18px;
  border-radius: 3px;
}
.data-statistics .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
}

/* -------------------------------------- Upload Cloud Animation -------------------------------------------------- */
.upload-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.91) 6%,
    rgba(28, 46, 93, 1) 81%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.image-upload-center-box {
  background-image: url("../../../public/assets/common/upload-image-center-design.png");
  width: 260px;
  height: 260px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.img-upload-btn {
  padding: 1px 15px;
  border-radius: 20px;
  background-color: rgba(0, 102, 255, 1);
  border: 1px solid rgb(117 172 247);
  margin: 0px 10px 10px 10px;
}

/* Hide input file */
.image-upload-box input[type="file"] {
  display: none;
}
.image-upload-box .procced-box{
  background-image: url("../../../public/assets/common/proceed-circle.gif");
   filter: blur(28px);
}
.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(28px);
  animation: orbit 3s linear infinite;
}

.orbiting-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Circular orbit animation */
@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

