.lineGraph {
  padding: 15px;
  border: 1px solid #f0122380;
  border-radius: 10px;
}
.lineGraph .main-lineChart-left-panel {
  display: flex;
  align-items: center;
}
.lineGraph .main-lineChart-left-panel .image-panel {
  background-color: #f0122380;
  border-radius: 10px;
  padding: 10px;
}
.lineGraph .main-lineChart-left-panel .value-panel {
  margin: 10px;
}
.lineGraph .main-lineChart-left-panel .value-panel h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}
.lineGraph .main-lineChart-left-panel .value-panel p {
  color: rgba(161, 161, 161, 0.8);
  font-weight: bold;
  font-size: 14px;
}

.custom-line-chart {
  top: 5px;
  right: 30px;
  left: 20px;
  bottom: 5px;
}
