@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #ffffff;
  --buttonColor: #0066ff;
  --buttonlightRedColor: #ffe2e2;
  --buutonlightPrimeryColor: #c0e6ff;
  --singupcolor: rgba(10, 118, 123, 1);
  --buttonLightColor: #f0f9ff;
  --headingColor: #0099ff;
  --grayparaColor: #808080;
  --lightgrayColor: #e6e6e6;
  --dangerColor: #d30404;
  --dangerColorLight: #fbc3c3;
  --successColor: #409261;
  --successColorDark: #008000;
  --successColorLight: #dffddd;
  --placeHolderColor: #9198a3;
  --labelColor: #344054;
  --inputColor: #666;
  --backgroundgrayColor: #f5f5f5;
  --backgroundOffWhiteColor: #f8f8f8;
  --darkColor: rgba(6, 7, 17, 1);
  --lightColor: #ffffff;
  --footerparaColor: #cccccc;
  --backroundColor: #0858d1;
  --barchartColor: #3167f2;
  --dashboardIconbgColor: #1673ff;
  --overlayBackgroundColor: #0099ffa3;
  --btnPrimaryBackground: #09f;
  --btnSecondaryBackground: #e4e4e4;
  --btnSecondaryColor: #808080;
  --borderTopLogoutColor: #40414b;
  --lightPinkColor: #ffe5e5;
  --lightOrangeColor: #fff2dd;
  --btnbackground: #c2e7ff;
  --disbledColor: rgb(233, 236, 239);
  --darkOrangeColor: #d98634;
  --halfWhite: rgba(255, 255, 255, 0.5);
  --font12: 12px;
  --font14: 14px;
  --font16: 16px;
  --font18: 18px;
  --font20: 20px;
  --font22: 22px;
  --font24: 24px;
  --font26: 26px;
  --font28: 28px;
  --font30: 30px;
  --font32: 32px;
  --font35: 35px;
  --font40: 40px;
  --font45: 45px;
  --font55: 55px;
  --fontw3: 300;
  --fontw5: 500;
  --fontw6: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: rgba(6, 7, 17, 1) !important;

  color: #fff !important;
}

.screen-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

p {
  font-size: var(--font16);
  color: rgba(200, 200, 200, 0.5);
  margin-bottom: 0 !important;
}
span {
  color: rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
}

.font-28 {
  font-size: var(--font28);
}
/* common color css */
.btnbackground {
  background-color: var(--btnbackground);
}

.lightPinkColor {
  background-color: var(--lightPinkColor);
}

.feesbtn {
  background-color: #e9ffef;
}

.buttonLightColor {
  background-color: var(--buttonLightColor);
}

.buutonlightPrimeryColor {
  background-color: var(--buutonlightPrimeryColor);
}

.bg-light {
  background-color: var(--disbledColor) !important;
}

.footerparaColor {
  color: var(--footerparaColor);
}

.grayparaColor {
  color: var(--grayparaColor);
}

.bg-half-white {
  background: rgba(255, 255, 255, 0.5);
}

.bg-orange-normal {
  background: var(--lightOrangeColor);
}

.bg-orange-bold {
  background-color: var(--darkOrangeColor);
}

.color-orange-bold {
  color: var(--darkOrangeColor);
}

.bagescolor {
  background-color: #f2f7ff;
}

.textcolor {
  color: var(--buttonColor);
}

.bar-chart-text-color {
  color: var(--barchartColor);
}

.dangerColorLight {
  background-color: var(--dangerColorLight);
}

.bg-green-normal {
  background-color: var(--successColorLight);
}

.bg-green-bold {
  background-color: var(--successColor);
}

.color-green-bold {
  color: var(--successColor);
}

.bg-red-normal {
  background-color: var(--dangerColorLight);
}

.bgwhite {
  background-color: var(--white);
}

.bg-red-bold {
  background-color: var(--dangerColor);
}

.color-red-bold {
  color: var(--dangerColor) !important;
}

.bg-off-dark {
  background: var(--darkColor);
}

.bg-sky-normal {
  background: #f5f7fb;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
}

.bg-gray-normal {
  background-color: var(--btnSecondaryBackground);
}

.bg-gray-bold {
  background-color: #3f3748;
}

.color-gray-bold {
  color: #3f3748;
}

.color-black-normal {
  color: #0d0d0d;
}

.bg-blue {
  background-color: var(--backroundColor);
}

.bg-succes-dark {
  background-color: var(--successColorDark);
}

.color-blue {
  color: var(--backroundColor);
}

.grey {
  color: #a4a9b2;
}

.border-sky-blue {
  border: 1px solid var(--headingColor);
}

.btn-blue {
  background-color: var(--btnPrimaryBackground);
  color: var(--white);
}
.rating_content {
  background-color: #f7fdff;
  border-radius: 50%;
}

.btn-gray {
  background-color: var(--btnSecondaryBackground);
  color: var(--btnSecondaryColor);
}

.buttonColor {
  background-color: var(--buttonColor);
}

/* end color css */
.unset-property {
  all: unset;
}

.rotate-0 {
  transition: 0.1s linear;
  transform: rotate(0deg);
}

.rotate-180 {
  transition: 0.1s linear;
  transform: rotate(180deg);
}

.letter-spacing-1 {
  letter-spacing: 0.1px;
}

.letter-spacing-2 {
  letter-spacing: 0.2px;
}

.hINSwr {
  border-top: 0px solid rgba(0, 0, 0, 0.12) !important;
}

/* cursor interaction */
.cursor-pointer {
  cursor: pointer !important;
}
.cursor-pointer-none {
  pointer-events: none !important;
}
.cursor-not-allowed {
  pointer-events: none !important;
  cursor: not-allowed !important;
}

/* common font-size css */
.fs-12 {
  font-size: var(--font12);
}

.fs-14 {
  font-size: var(--font14);
}

.fs-16 {
  font-size: var(--font16);
}

.fs-18 {
  font-size: var(--font18);
}

.fs-20 {
  font-size: var(--font20);
}

.fs-22 {
  font-size: var(--font22);
}

.fs-26 {
  font-size: var(--font26);
}

.fs-35 {
  font-size: var(--font35);
}

.fs-45 {
  font-size: var(--font35);
}

.fs-55 {
  font-size: var(--font55);
}

.fw-500 {
  font-weight: var(--fontw5);
}
.fw-300 {
  font-weight: var(--fontw3);
}
.fw-600 {
  font-weight: var(--fontw6);
}

/* end font-size css */
.rounded10 {
  border-radius: 10px;
}

.rounded-30 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rounded-22 {
  border-radius: 22px;
}

.rounded-18 {
  border-radius: 18px;
}

.explour_icon {
  width: 42px;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-2 {
  opacity: 0.2;
}

/* input, lable and button comman class */

label {
  color: var(--labelColor) !important;
  font-size: var(--font14) !important;
  /* font-weight: var(--fontw6) !important; */
  margin-bottom: 6px;
  margin-top: 10px;
}

input::placeholder {
  font-size: var(--font14);
  color: var(--placeHolderColor);
}

textarea::placeholder {
  font-size: var(--font14);
  color: var(--placeHolderColor);
}

.border-radius_input {
  border-radius: 15px;
}

.input-border {
  border-right: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:focus {
  box-shadow: unset !important;
}
.homenavbar_content .dropdown-item {
  min-width: 178px !important;
}

/* ********************Login Page Start************************ */
.login-bg-img-div {
  width: 100%;
}

.login-bg-img {
  width: 100%;
  object-fit: contain;
}
.input-background {
  /* background: none;
  border-left: unset; */
}

/* ********************Login Page End************************ */

/* CLASS USED IN SIDEBAR START */

.sidebar-active-icon {
  /* background-color: rgba(255, 255, 255, 0.4); */
  /* padding: 8px;
  border-radius: 10px; */
}
.sidebar-scroll-area {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
}
.sidebar {
  /* height: 100vh; */
  width: 90px;
  position: static;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.active {
  position: relative;
}

@keyframes expandHeight {
  0% {
    height: 0;
  }

  100% {
    height: 40px;
  }
}

.sidebar-not-active-icon {
  padding: 11px 13px 11px 14px;
  border-radius: 10px;
  /* background: #1171ff; */
}

/* CLASS USED IN DASHBOARD START */
.verifyimage {
  width: 150px;
}

.dashboard-hero-card {
  background: linear-gradient(
    66deg,
    #b2e6fd -5.25%,
    #9bd8f1 35.43%,
    rgba(45, 12, 255, 0.71) 98.77%
  );
}

.bg-half-white:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
}

.bg-half-white:hover .bg-green-normal,
.bg-half-white:hover .bg-red-normal {
  transform: translateX(30%) translateY(0);
}

.open-close {
  width: 78px;
}

/* //upload file css */
.drag-over {
  background-color: #f0f8ff;
  border-color: #007bff;
}

/*card image css start*/
.card-image-height-width {
  height: 170px;
}

.card-image-height-width img {
  height: 100%;
  object-fit: contain;
}

/* Card Hover Effect */
.bg-card {
  border-radius: 20px;
  background: #f7f7f7 !important;
}

/* end dashboard css */
/* ********************home page************************ */
.navbarlogo {
  width: 180px;
}

.smalllogo {
  width: 115px;
}

.registrbtn {
  padding: 12px 30px;
}

/* Hero Image */
.hero-image {
  width: 80%;
  border-radius: 10px;
}

/* table comman css */
/* responsive table */
.table_resp_dnp {
  width: 0 !important;
}

table tbody td,
table tbody tr {
  border: none !important;
}

/* end table css */
/* tableheading css */
.searchicon {
  width: 15px;
  height: 15px;
}

.plusicon {
  width: 12px;
  height: 12px;
  font-weight: var(--fontw6);
}

/* model css */
.paragraphtext {
  font-size: var(--font13);
  color: #6f6c90;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 5px;
  border-bottom: unset !important;
}

.modal-body {
  text-align: center;
}

.modelsuccessimg {
  width: 120px;
}

.logoutimg {
  width: 80px;
}

.modal-footer {
  border-top: unset !important;
}

.modal-content {
  border: unset !important;
  border-radius: 20px;
}

.modal-header .closebtn {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: transparent;
  z-index: 10;
}

.modal-header .closebtnclass {
  top: 16px;
  right: -8px;
}

.modal-header .closeicon {
  border-radius: 50%;
  padding: 8px;
}

.modal-backdrop {
  --bs-backdrop-zindex: unset !important;
  backdrop-filter: blur(60px);
}

.custom-modal-backdrop {
  background-color: rgba(1, 103, 255, 0.4) !important;
  backdrop-filter: blur(8px);
}

/* close modal css */

.headingarrowicon {
  width: 16px;
  height: 16px;
  padding: 2px;
}

.submitbtn {
  background-color: var(--backroundColor);
  font-size: var(--font14);
}

.mainbtn {
  background-color: var(--backroundColor);
  font-size: var(--font14);
  width: 180px;
}

.cancelbtn {
  background-color: var(--btnSecondaryBackground);
  font-size: var(--font14);
}

.dashboardtext {
  font-size: var(--font35);
}
.dashboardgmtext {
  font-size: var(--font28);
}

/* end appointment css */

/* I-VDES CSS */
.btn-common {
  background-color: var(--buttonColor) !important;
  padding: 5px 30px;
  color: var(--white);
  font-weight: 500;
}

.text-lg {
  font-size: 70px;
}

.text-light {
  color: #9f9f9f;
}

.btn:hover {
  background-color: var(--backroundColor);
}
.card {
  margin-bottom: 1.875rem;
  background-color: rgba(16, 18, 30, 0.4);
  position: relative;
  border: 0px solid transparent;
  /* border-radius: 1.25rem; */
  border-radius: 0.7rem;
  /* height: calc(100% - 30px); */
  padding: 20px;
  border: 1px solid rgba(83, 92, 165, 0.15);
  backdrop-filter: blur(10px);
}
.card-header {
  position: relative;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(83, 92, 165, 1);
  margin: 0px 0px 30px 0px;
  border-width: 3px;
}

.gradient-common-bg {
  background-image: url("../public/assets/dashboardicons/dashboard-bg.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  border-radius: 1.25rem;
}
/* side bar and topbar */
.border-top-logout {
  border-top: 1px solid var(--borderTopLogoutColor);
}
.border-bottom-line {
  border-bottom: 1px solid var(--borderTopLogoutColor);
}
.sidebar-logo-img {
  margin: 22px 0px;
  width: 40px;
  height: 40px;
}

.bg-sidebar {
  background-color: rgba(17, 18, 34, 1) !important;
}
.z-index {
  z-index: 999;
}
.text-white {
  color: var(--white);
}
/* Breadcrum */
.headingarrowicon {
  width: 13px;
  height: 17px;
}
.set-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accuracy-chart-wrapper {
  position: relative;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
}
.custom-legend-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.legend-color-box {
  width: 12px;
  height: 12px;
  border-radius: 2px;
}

.legend-label {
  color: #fff;
  font-size: 12px;
}

.Auth-common-bg {
  background-image: url("../public/assets/dashboardicons/Auth-bg.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 1.25rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(9, 9, 9) inset !important;
  box-shadow: 0 0 0 1000px rgb(4, 4, 4) inset !important;
  -webkit-text-fill-color: #fef9f9 !important;
  background-color: rgba(34, 34, 34, 0.7);
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgb(12, 12, 12) inset !important;
}
.singup-color {
  color: var(--singupcolor);
}
/* -------------------------Toast CSS------------------------ */
.Toastify__toast-theme--colored.Toastify__toast--success,
.Toastify__toast-theme--colored.Toastify__toast--error,
.Toastify__toast-theme--colored.Toastify__toast--info,
.Toastify__toast-theme--colored.Toastify__toast--warning {
  background-color: #14172b !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 4px 12px rgba(206, 206, 206, 0.3) !important;
}
.Toastify__toast {
  font-family: "Hanken Grotesk", sans-serif !important;
  font-size: 14px !important;
}

.Toastify__toast-theme--colored.Toastify__toast--success .Toastify__toast-icon {
  color: #12cf31 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success
  .Toastify__progress-bar {
  background: #12cf31 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error .Toastify__toast-icon {
  color: #ff4d4f !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error .Toastify__progress-bar {
  background: #ff4d4f !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info .Toastify__toast-icon {
  color: #00bcd4 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info .Toastify__progress-bar {
  background: #00bcd4 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning .Toastify__toast-icon {
  color: #ffc107 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning
  .Toastify__progress-bar {
  background: #ffc107 !important;
}

/* -------------------------Toast CSS END------------------------ */

/* ---------------------------Modal CSS---------------------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(9px);
}

.modal-content {
  background-color: rgba(17, 10, 28, 0.5);
  padding: 40px;
  border-radius: 55px;
  width: 450px;
  max-width: 90%;
  position: relative;
  border: 1px solid #28292e !important;
  backdrop-filter: blur(10px);
}

.modal-close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 20px;
  background: none;
  border: #7f8081;
  cursor: pointer;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.modal-btn-close {
  background-color: rgba(49, 49, 49, 1) !important;
}
.modal-btn-close:hover {
  background-color: rgba(49, 49, 49, 1); /* Same as normal */
  color: white; /* Ensure text color doesn't change */
}
.modal-btn-logout {
  background-color: rgba(239, 83, 80, 1) !important;
}
.modal-btn-logout:hover {
  background-color: rgba(239, 83, 80, 1) !important;
  color: white; /* Ensure text color doesn't change */
}

.top-right-topbar {
  background-color: var(--darkColor);
  border: 1px solid #28292e !important;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 5px 10px;
}
.top-right-topbar span {
  color: #a7abad;
}
.top-right-topbar span:hover {
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: var(--darkColor);
}
.dropdown-divider-top {
  border-top: 1px solid #504d4d; /* Light gray line */
  margin-top: 5px;
  padding-top: 5px;
}
/* Digital journey */
.custom-section {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  /* overflow: hidden; */
}

/* howitworks */
.how-it-works-wrapper {
  color: white;
  /* background-color: #0b0b0d; */
  /* border-radius: 20px; */
  /* padding: 70px; */
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}

.step-number {
  font-size: 70px;
  font-weight: 700;
  color: #2d2d2d;
  /* margin-right: 20px;
  width: 68px; */
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom icon background helpers */
.bg-light-primary {
  background-color: #e2ebff;
}

.bg-light-warning {
  background-color: #fff5e1;
}

.bg-light-pink {
  background-color: #fde2f0;
}
.icon-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.how-it-works-wrapper p {
  color: rgba(65, 77, 96, 1);
  font-size: 16px;
}
.how-it-works-wrapper h6 {
  color: rgba(30, 36, 44, 1);
  font-weight: 500;
}

/* home background image */
.landing-bg {
  background-image: url("../public/assets/landing-image/home-background-image.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
}
.bi-x::before {
  border-radius: 6px !important;
  background: #d70707 !important;
}
.bi-transiton {
  z-index: 1100;
  position: relative !important;
}
.bi-transiton.bi-x {
  transition: transform 0.4s ease-out;
  transform: translateX(290%);
}
.border-light {
  border: 1px solid #7b7e8b !important;
}
.arrow-left {
  transform: rotate(180deg);
}

.verificatiom-emaillogo {
  width: 90px;
  height: 90px;
}
.border-white {
  border: 1px solid white !important;
}
.topbar-profile-icon .dropdown-toggle::after {
  display: none;
}
.topbar-profile-icon .dropdown-toggle {
  width: 40px;
  height: 40px;
  background-color: #1b00ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* css for dount chart */
.font-15 {
  font-size: 15px;
}

/* TooltipIcon.css */
.tooltip-icon-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-icon-wrapper .tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: 70px;
  background-color: #0b006c;
  color: #fff;
  font-size: 10px;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  bottom: 131%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.tooltip-icon-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Arrow */
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 41%;
  border-width: 7px;
  border-style: solid;
  border-color: transparent #0b006c transparent transparent;
  transform: rotate(270deg);
}
/* drag and drop */
.upload-container.drag-over {
  border: 2px dashed #00bfff;
  background-color: #f0f8ff;
}
.changePasswordBody {
  width: 100%;
  max-width: 100%;
  padding: 15px 30px;
  border: 1px solid #fff !important;
}
