/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-section .content-section .para {
    width: auto !important;
  }
}

/* ------------------choose us section----------------- */
/* Medium screen (tablet) */
@media (max-width: 992px) {
  .why-choose-section {
    flex-direction: column;
    align-items: center;
    min-height: auto;
  }

  .why-choose-inner-div {
    position: static;
    margin: 15px 0;
  }

  .center-image {
    order: -1;
    margin-bottom: 30px;
  }

  .why-choose-h1 {
    font-size: 2rem;
  }
}

/* Small screen (mobile) */
@media (max-width: 576px) {
  .why-choose-inner-div {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
  }

  .why-choose-h1 {
    font-size: 1.6rem;
  }

  .why-choose-inner-div img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .why-choose-inner-div p {
    font-size: 0.95rem;
  }
  .topbarTextSection {
    width: 200px;
  }
  .topbarTextSection .topbar-heading {
    font-size: 17px;
  }
}

/* media  query*/
@media (min-width: 320px) and (max-width: 467px) {
  .navbarlogo {
    width: 170px;
  }
  .top-white-section {
    padding: 10px 12px;
  }
  .hero-section .text-lg {
    font-size: 27px;
  }
  .content h2 {
    font-size: 22px;
  }
  .hero-section .content-section .para,
  .content p,
  .footer-section p {
    font-size: 12px;
  }
  .hero-section .tryNowButton span {
    font-size: 16px;
  }
  .hero-section,
  .digital-journey-section,
  .why-choose-section,
  .how-it-works-wrapper {
    margin: 0px 0px 0px 0px !important;
  }
  .step-number {
    font-size: 45px !important;
  }
  .text-dark {
    font-size: 14px !important;
  }
  .how-it-works-wrapper p {
    font-size: 11px !important;
  }
  .howitcard {
    width: unset !important;
  }
  .footer-logo img {
    width: 285px !important;
  }
  .bi-transiton.bi-x {
    transition: transform 0.4s ease-out;
    transform: translateX(405%);
  }
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 120px;
    z-index: 1250;
    background-color: rgba(17, 18, 34, 1) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-out !important;
    transform: translateX(-100%);
  }
}

.sidebar.sidebar-show {
  transform: translateX(0);
}

@media (min-width: 467px) and (max-width: 576px) {
  .topbarTextSection {
    width: 250px !important;
  }
  .bi-transiton.bi-x {
    transition: transform 0.4s ease-out;
    transform: translateX(380%);
}
}

@media (min-width: 468px) and (max-width: 767px) {
  .hero-section .text-lg {
    font-size: 40px;
  }
  .hero-section .content-section .para,
  .content p,
  .footer-section p {
    font-size: 14px;
  }
  .hero-section .tryNowButton span {
    font-size: 19px;
  }
  .content h2 {
    font-size: 34px;
  }

  .step-number {
    font-size: 60px !important;
  }
  .text-dark {
    font-size: 18px !important;
  }
  .how-it-works-wrapper p {
    font-size: 14px !important;
  }

  .footer-logo img {
    width: 310px !important;
  }
  .footer-section p {
    font-size: 14px;
  }
  .topbar-heading {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-section .text-lg {
    font-size: 60px;
  }
  .content h2 {
    font-size: 32px;
  }
  .hero-section .content-section .para,
  .content p,
  .footer-section p {
    font-size: 15px;
  }
  .step-number {
    font-size: 45px !important;
  }
  .text-dark {
    font-size: 17px !important;
  }
  .how-it-works-wrapper p {
    font-size: 11px !important;
  }
  .footer-logo img {
    width: 330px !important;
  }
  .topbarTextSection {
    width: 500px;
  }
}
@media (min-width: 1200px) and (max-width: 1458px) {
  .hero-section .text-lg {
    font-size: 75px;
  }
  .hero-section .content-section .para,
  .content p,
  .footer-section p {
    font-size: 18px;
  }
  .content h2 {
    font-size: 47px;
  }
  .step-number {
    font-size: 65px !important;
  }
  .text-dark {
    font-size: 18px !important;
  }
  .footer-logo img {
    width: 350px !important;
  }
}
